.spinner-border {
    position: absolute;
    left: 50%;
    top: 50%;
}

.logo {
    height: 80px;
    width: 80px;
}

.welcome-text {
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    font-weight: bolder;
}

.email-input-field {
    width: 300px;
}

.forgot-pass-link {
    color: grey;
    font-weight: 700;
    font-size: 14px;
}

.log-in-btn {
    width: 300px;
}

.log-or {
    color: #393e46;
    font-weight: 800;
    font-size: 15px;
}

.log-icon {
    height: 25px;
    width: 25px;
}

.fb-btn {
    background-color: blue;
}

.log-text {
    font-weight: 600;
}

.bottom-txt {
    font-size: 14px;
    text-align: center;
}

.agree {
    color: #a7bbc7;
}

.terms {
    font-weight: 700;
    color: #393e46;
}

.new-signup {
    margin-top: -10px;
    color: #00adb5;
    font-family: 'Merriweather', serif;
}